<!DOCTYPE html>
<html lang="es">
<head>
<title>Mercado Liebre</title>
<meta charset="utf-8">
<base href="http://localhost:8000">
<link href="https://http2.mlstatic.com/frontend-assets/ui-navigation/5.10.4/mercadolibre/favicon.svg" rel="icon">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
<link rel="stylesheet" href="/styles/styles.css"/>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<div class="barraSuperior">
<header><img class="logo" width="30%" src="./images/logo-mercado-liebre.svg"></header>
</head>
<body>
    <br>
    <h1>Lorem ipsum dolor sit amet consectetur.</h1>
</div>
<br>
<div class="margenes">
    <p class="parrafos">Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
        sed diam nonummy nibh euismod tincidunt ut laoreet
        dolore magna aliquam erat volutpat. Ut wisi enim ad minim
        veniam, quis nostrud exerci tation ullamcorper suscipit lobortis
        nisl ut aliquip ex ea commodo consequat.
    <br>
    <br>
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
        sed diam nonummy nibh euismod tincidunt ut laoreet
        dolore magna aliquam erat volutpat. Ut wisi enim ad minim
        veniam, quis nostrud exerci tation ullamcorper suscipit lobortis
        nisl ut aliquip ex ea commodo consequat.</p>
        <br>
</div>
<hr>
<h4>Lorem, ipsum dolor.</h4>

<div class="banner">
<img id="banner" src="./images/banner_newsletter.png">
</div>

<h2>Lorem ipsum dolor sit amet consectetur.</h2>
<br>
<a href="#">Lorem, ipsum dolor. -></a>
<br>
<br>
<hr>
<h4>Lorem, ipsum dolor.</h4>
<h2>Lorem ipsum dolor sit amet consectetur.</h2>
<br>
<p class="parrafos">Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
    sed diam nonummy nibh euismod tincidunt ut laoreet
    dolore magna aliquam erat volutpat. Ut wisi enim ad minim
    veniam, quis nostrud exerci tation ullamcorper suscipit lobortis
    nisl ut aliquip ex ea commodo consequat.</p>
<br>
<hr>
<ul>
    <li><a href="https://www.instagram.com">Instagram</a></li>
    <li><a href="https://www.twitter.com">Twitter</a></li>
    <li><a href="https://www.facebook.com">Facebook</a></li>
    <li><a href="https://www.github.com">Github</a></li>
</ul>

<br>
<p class="parrafos">Saludos,<br>
    Uri y Herni.</p>
<br>
<hr>
<footer>
<small>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
    nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi
    enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis
    nisl ut aliquip ex ea commodo consequat.</small>
</footer>
</body>
</html>
